

html, body { height: 100%; padding: 0; margin: 0; }

#viz3 {position:fixed; width:50%; height:50%; padding: 1px; top:0;   left:0;   background:#BBB  }
#viz2 {position:fixed; width:50%; height:50%; padding: 1px; top:0;   left:50%; background:#EEE; overflow: auto; overflow-y: hidden; white-space: nowrap;}
#viz1 {position:fixed; width:50%; height:50%; padding: 1px; top:50%; left:0;   background:#EEE   }
#viz4 {position:fixed; width:50%; height:50%; padding: 1px; top:50%; left:50%; background:#BBB     }

#float_bottom{
    float: bottom;
    position: absolute;
    bottom: 0px;
    left: 45%;
    width: 10%;
    height: 3%;
    background: #EEE;
    align-content: center;
}
/*#viz1 { background: #EEE; }*/
/*#viz2 { background: #BBB; }*/
/*#viz3 { background: #BBB; }*/
/*#viz4 { background: #EEE; }*/